@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./css/Nanotech/Nanotech\NormalItalic.otf);
@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: black;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}

#icon2nav {
  display: none;
}

.nav-link {
  color: black !important;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  color: aliceblue;
}
.navbar a {
  color: black !important;
  font-size: 15px;
}
.navbar a:hover {
  color: #000 !important;
}
#crowd {
  position: absolute;
  height: px;
  width: 220vh;

  left: 0;
  top: 71vh;
  z-index: 1;

  filter: brightness(100%);
}

#me {
  height: 95vh;
  width: 200vh;
  position: absolute;
  top: 12px;
  z-index: -6;
  left: -45vh;
  filter: brightness(120%);
}
#Hey {
  position: absolute;
  right: 100px;
  top: 140px;
  font-weight: 100%;
  color: rgba(0, 0, 0, 0.7);
}
#back {
  height: 20px;
  width: 30px;
}
#bio-head {
  position: absolute;
  top: 98vh;
  z-index: 65;
  font-size: 20vh;
  color: rgba(255, 255, 255, 0.5);
  filter: brightness(150%);
}

#bio-img {
  position: absolute;
  top: 120vh;
  z-index: 69;
  right: 18vh;
}
#head1:hover {
  color: white;
  cursor: pointer;
}
#head2:hover {
  color: white;
  cursor: pointer;
}

#head3:hover {
  color: white;
  cursor: pointer;
  transition: transform 5s;
}
#bio-content {
  position: absolute;
  top: 125vh;
  left: 20vh;
}
#bio-content ul li {
  list-style-type: none;
}
h2 {
  font-size: 25px !important;
  padding: 30px, 20px;
  margin: 10px;
}
h2:hover {
  color: #000;
}
#bio-btn {
  position: absolute;
  top: 177vh;
  left: 40vh;
  transform: translate(-50%, -50%);

  background-color: transparent;
  border: none;

  color: rgba(255, 255, 255, 0.5);
}
#bio-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ee7752, #e73c7e, BLUE);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: bottom right;
  transform: scale(0);
}
#bio-btn:hover::before {
  transition: transform 0.5s;
  transform-origin: top left;
  transform: scale(1);
}
#bio-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: bottom right;
  transform: scale(1);
  color: black;
}
#bio-btn:hover::after {
  transition: transform 0.5s;
  transform-origin: bottom right;
  transform: scale(0);
  color: black;
}

#art-head {
  position: absolute;
  top: 197vh;
  z-index: 65;
  right: 10vh;
  font-size: 20vh;
  color: rgba(255, 255, 255, 0.5);
  filter: brightness(150%);
}
#art-img {
  position: absolute;
  top: 210vh;
  z-index: 69;
  left: -8vh;
  width: 95vh;
}
#art-logo {
  position: absolute;
  top: 230vh;
  z-index: 69;
  left: 18vh;
  width: 60vh;
}
#art-name {
  position: absolute;
  top: 215vh;
  z-index: 65;
  left: 70vh;
  font-size: 25vh;
  color: rgba(255, 255, 255, 0.3);
  filter: brightness(150%);
}
.lead {
  position: absolute;
  top: 245vh;
  z-index: 65;
  right: 20vh;
  font-size: 2.8vh;
  color: rgba(255, 255, 255, 0.3);
  filter: brightness(150%);
  width: 80vh;
}

h2 {
  font-size: 25px !important;
  padding: 30px, 20px;
  margin: 10px;
}
h2:hover {
  color: #000;
}
#bio-btn1 {
  position: absolute;
  top: 280vh;
  left: 143vh;
  transform: translate(-50%, -50%);
  padding: 20px, 40px;
  background-color: transparent;
  border: none;

  color: rgba(255, 255, 255, 0.5);
}
#bio-btn1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ee7752, #e73c7e, BLUE);
  z-index: -30;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scale(0);
}
#bio-btn1:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scale(1);
}
#bio-btn1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: left;
  transform: scale(1);
  color: black;
}
#bio-btn1:hover::after {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scale(0);
  color: black;
}
#mobcrowd {
  display: none;
}

#web-head {
  position: absolute;
  top: 305vh;
  z-index: 65;
  left: 5vh;
  font-size: 20vh;
  color: rgba(0, 0, 0, 0.7);
  filter: brightness(150%);
}
#web-img {
  position: absolute;
  top: 340vh;
  z-index: 69;
  left: 130vh;
  width: 70vh;
  filter: brightness(100%);
}

#web-name {
  position: absolute;
  top: 328vh;
  z-index: 65;
  left: 70vh;
  font-size: 14vh;
  color: rgba(0, 0, 0, 0.5);
  filter: brightness(150%);
}
.lead1 {
  position: absolute;
  top: 350vh;
  z-index: 65;
  left: 20vh;
  font-size: 2.5vh;
  color: rgba(0, 0, 0, 0.9);
  filter: brightness(150%);
  width: 80vh;
  font-weight: 160% !important;
}

h2 {
  font-size: 25px !important;
  padding: 30px, 20px;
  margin: 10px;
}
h2:hover {
  color: #000;
}
#bio-btn2 {
  position: absolute;
  top: 390vh;
  left: 40vh;
  transform: translate(-50%, -50%);
  padding: 20px, 40px;
  background-color: transparent;
  border: none;

  color: rgba(0, 0, 0, 0.8);
}
#bio-btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ee7752, #e73c7e, BLUE);
  z-index: -30;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scale(0);
}
#bio-btn2:hover::before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scale(1);
}
#bio-btn2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: left;
  transform: scale(1);
  color: black;
}
#bio-btn2:hover::after {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scale(0);
  color: black;
}

/*media quaries*/

@media only screen and (max-width: 1199px) {
  #crowd {
    display: none;
  }
  #me {
    height: 1000px;
    width: 600px;
    position: absolute;
    bottom: 600px;
    z-index: -6;
    right: 450px;
  }
  #hey {
    position: absolute;
    right: 600px;
  }
  #mobcrowd {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  #crowd {
    display: none;
  }
  #me {
    height: 1000px;
    width: 800px;
    position: absolute;
    bottom: -200px;
    z-index: -6;
    right: 500px;
  }
  #mobcrowd {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  #crowd {
    display: none;
  }
  #me {
    height: 1000px;
    width: 800px;
    position: absolute;
    bottom: -200px;
    z-index: -6;
    right: 500px;
  }
  #mobcrowd {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  #logo2 {
    display: block;
  }
  #navbarnav {
    height: 100vh;
  }
  #mobilemenu {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    color: black !important;
    padding: 0 0 0 15px;
  }
  #mobmen {
    background-image: url(./img/button.svg);

    width: 3em;
    height: 3em;
  }
  #mobmen:hover {
    background-image: url(./img/cross.svg);
  }
  #mobmen #mobmen::after {
    background-image: url(./img/cross.svg);
  }
  #logo3 {
    width: 100%;
  }

  #iconrowbot {
    justify-content: center;
  }
  #iconrowbot i {
    margin: 0px;
    padding: 0;
  }
  #iconsbot {
    text-align: center;
  }

  #icon2nav {
    display: flex;
    justify-content: center;

    margin: 100px 0 0 0;
    padding: 0;
    text-align: center;
  }
  #icon2nav i {
    margin: 5px;
    padding: 0;
    justify-content: center;
  }

  #me {
    height: 700px;
    width: 450px;
    position: absolute;
    top: 11vh !important;
    z-index: -6;
    left: -8vh;
  }
  body {
    width: 2000vh !important;
  }
  #crowd {
    display: none;
  }

  #head1 {
    position: absolute;
    top: -18vh !important;
    left: 25vh;
    font-size: 8vh;
  }
  #head2 {
    position: absolute;
    font-size: 5vh;
    top: -7vh;
    left: 25vh;
  }

  #head3 {
    position: relative;
    top: 2vh;
    left: 25vh;
    font-size: 5vh;
  }
  #bio-head {
    position: absolute;
    font-size: 3.5em;
    top: 94vh;
    left: 2vh;
  }
  #bio-content {
    position: absolute;
    top: 107vh;
    z-index: 50;
    left: 12vh;
    font-size: 1.8em !important;
  }
  #bio-img {
    position: relative;
    left: -10vh;
    z-index: 40;
    top: 132vh;
    height: 55vh;
  }
  #bio-btn {
    position: absolute;
    left: 38vh;
    z-index: 45;
    top: 182vh;
  }
  #btn-txt {
    text-transform: uppercase;
    font-size: 1em !important;
  }
  #art-head {
    position: absolute;
    font-size: 3em;
    left: 3vh;
  }
  #art-name {
    font-size: 8em;
    position: absolute;
    top: 205vh;
    left: 2vh;
  }
  #art-img {
    position: absolute;
    left: -12vh;
    width: 80vh;
    top: 213vh;
  }

  .lead {
    position: absolute;
    top: 285vh;
    left: 2vh;
    font-size: 0.8em;
    width: 50vh;
  }

  #bio-btn1 {
    position: absolute;
    top: 310vh;
    left: 17vh;
  }
  #btn-txt2 {
    font-size: 1em !important;
    padding: -2vh !important;
    margin: 1vh !important;
  }

  #a {
    display: none;
  }
  body {
    width: 500px !important;
  }
  div {
    width: 60vh !important;
  }
  #mobcrowd {
    display: block;
    height: 400px;
    width: 520px;

    position: absolute;
    left: 0vh;
    top: 73vh;
  }
  #web-head {
    font-size: 3em;
    position: absolute;
    top: 320vh;
    left: 2vh;
  }
  #web-img {
    width: 50vh !important;
    position: absolute;
    left: 2vh;
    top: 335vh;
  }
  #web-name {
    font-size: 2.8em;
    position: absolute;
    left: 7vh;
    top: 330vh;
  }
  .lead1 {
    font-size: 0.8em !important;
    position: absolute;
    left: 2vh;
    width: 50vh;
    top: 380vh;
  }
  #bio-btn2 {
    position: absolute;
    left: 15vh;
    top: 413vh;
  }
}
